.u-section-1 .u-sheet-1 {
    min-height: 1040px;
  }
  
  .u-section-1 .u-image-1 {
    width: 767px;
    height: 797px;
    margin: 108px -248px 0 auto;
  }
  
  .u-section-1 .u-group-1 {
    width: 706px;
    min-height: 636px;
    height: auto;
    margin: -797px auto 0 15px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-1 .u-text-1 {
    font-family: Mulish;
    font-weight: 500;
    font-size: 1.375rem;
    margin: 0 29px 0 16px;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin: 73px auto 0 16px;
  }
  
  .u-section-1 .u-btn-1 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 124px 0 0 auto;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 6rem;
    font-family: Mulish;
    font-weight: 800;
    margin: -607px 449px 60px 15px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 46px;
      padding-right: 16px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.25rem;
    }
  
    .u-section-1 .u-text-2 {
      font-family: Mulish;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 4.5rem;
      margin-right: 248px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-group-1 {
      margin-left: 14px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 0;
      padding-right: 13px;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 29px;
      margin-left: 14px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      width: 540px;
      margin-left: 0;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 27px;
      padding-right: 9px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 3.75rem;
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 596px;
    }
  
    .u-section-1 .u-image-1 {
      width: 340px;
      height: 353px;
      margin-right: 0;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
      margin-top: -353px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 13px;
      padding-right: 6px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 3rem;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 1820px;
  }
  
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    font-family: Mulish;
    font-weight: 700;
    margin: 191px 25px 0;
  }
  
  .u-section-2 .u-list-1 {
    width: 1008px;
    margin: 196px auto 0;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 502px;
    grid-gap: 10px;
  }
  
  .u-section-2 .u-list-item-1 {
    --radius: 20px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-2 .u-image-1 {
    width: 209px;
    left: 0;
    right: auto;
  }
  
  .u-section-2 .u-text-2 {
    font-family: Mulish;
    font-size: 1.875rem;
    font-weight: 800;
    margin: 41px 386px 0 222px;
  }
  
  .u-section-2 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: -29px 100px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-2 {
    --radius: 20px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-2 .u-image-2 {
    width: 209px;
    left: 0;
    right: auto;
  }
  
  .u-section-2 .u-text-3 {
    font-family: Mulish;
    font-size: 1.875rem;
    font-weight: 800;
    margin: 41px 386px 0 222px;
  }
  
  .u-section-2 .u-icon-2 {
    width: 64px;
    height: 64px;
    margin: -29px 100px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-3 {
    --radius: 20px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }
  
  .u-section-2 .u-image-3 {
    width: 209px;
    left: 0;
    right: auto;
  }
  
  .u-section-2 .u-text-4 {
    font-family: Mulish;
    font-size: 1.875rem;
    font-weight: 800;
    margin: 41px 386px 0 222px;
  }
  
  .u-section-2 .u-icon-3 {
    width: 64px;
    height: 64px;
    margin: -29px 100px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-image-4 {
    width: 1150px;
    height: 1151px;
    margin: -1252px -575px 0 auto;
  }
  
  .u-section-2 .u-image-5 {
    width: 496px;
    height: 491px;
    margin: -1121px auto 0 -164px;
  }
  
  .u-section-2 .u-list-2 {
    width: 1008px;
    margin: 743px auto 0;
  }
  
  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 502px;
    grid-gap: 10px;
  }
  
  .u-section-2 .u-list-item-4 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(244, 221, 255, 0.45098039215686275), rgba(244, 221, 255, 0.45098039215686275));
    background-size: cover;
    --radius: 20px;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }
  
  .u-section-2 .u-image-6 {
    width: 202px;
    height: 151px;
    margin: 5px auto 0 0;
  }
  
  .u-section-2 .u-text-5 {
    font-family: Mulish;
    font-size: 1.875rem;
    font-weight: 800;
    margin: -115px 442px 0 222px;
  }
  
  .u-section-2 .u-icon-4 {
    width: 64px;
    height: 64px;
    margin: -28px 100px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-5 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(244, 221, 255, 0.45098039215686275), rgba(244, 221, 255, 0.45098039215686275));
    background-size: cover;
    --radius: 20px;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 0;
  }
  
  .u-section-2 .u-image-7 {
    width: 202px;
    height: 151px;
    margin: 5px auto 0 0;
  }
  
  .u-section-2 .u-text-6 {
    font-family: Mulish;
    font-size: 1.875rem;
    font-weight: 800;
    margin: -115px 442px 0 222px;
  }
  
  .u-section-2 .u-icon-5 {
    width: 64px;
    height: 64px;
    margin: -28px 100px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-6 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(244, 221, 255, 0.45098039215686275), rgba(244, 221, 255, 0.45098039215686275));
    background-size: cover;
    --radius: 20px;
  }
  
  .u-section-2 .u-container-layout-6 {
    padding: 0;
  }
  
  .u-section-2 .u-image-8 {
    width: 202px;
    height: 151px;
    margin: 5px auto 0 0;
  }
  
  .u-section-2 .u-text-7 {
    font-family: Mulish;
    font-size: 1.875rem;
    font-weight: 800;
    margin: -115px 442px 0 222px;
  }
  
  .u-section-2 .u-icon-6 {
    width: 64px;
    height: 64px;
    margin: -28px 100px 0 auto;
    padding: 0;
  }
  
  .u-section-2 .u-image-9 {
    width: 1404px;
    height: 1193px;
    margin: -364px auto 0 -566px;
  }
  
  .u-section-2 .u-image-10 {
    width: 499px;
    height: 667px;
    margin: -847px -165px -298px auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-text-1 {
      position: relative;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-list-1 {
      width: 940px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-2 .u-image-1 {
      height: 161px;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 352px;
      margin-left: 188px;
    }
  
    .u-section-2 .u-image-2 {
      height: 161px;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 352px;
      margin-left: 188px;
    }
  
    .u-section-2 .u-image-3 {
      height: 161px;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 352px;
      margin-left: 188px;
    }
  
    .u-section-2 .u-list-2 {
      width: 940px;
    }
  
    .u-section-2 .u-repeater-2 {
      grid-template-columns: 100%;
    }
  
    .u-section-2 .u-text-5 {
      margin-top: 20px;
      margin-right: 408px;
      margin-left: 188px;
    }
  
    .u-section-2 .u-text-6 {
      margin-top: 20px;
      margin-right: 408px;
      margin-left: 188px;
    }
  
    .u-section-2 .u-text-7 {
      margin-top: 20px;
      margin-right: 408px;
      margin-left: 188px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1239px;
    }
  
    .u-section-2 .u-list-1 {
      width: 720px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 242px;
      margin-left: 78px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 242px;
      margin-left: 78px;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 242px;
      margin-left: 78px;
    }
  
    .u-section-2 .u-list-2 {
      width: 720px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 298px;
      margin-left: 78px;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 298px;
      margin-left: 78px;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 298px;
      margin-left: 78px;
    }
  
    .u-section-2 .u-image-9 {
      width: 720px;
      height: 612px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-10 {
      margin-top: -266px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 475px;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 3rem;
    }
  
    .u-section-2 .u-list-1 {
      width: 540px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 140px;
      margin-left: 0;
    }
  
    .u-section-2 .u-icon-1 {
      margin-top: 20px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 140px;
      margin-left: 0;
    }
  
    .u-section-2 .u-icon-2 {
      margin-top: 20px;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 140px;
      margin-left: 0;
    }
  
    .u-section-2 .u-icon-3 {
      margin-top: 20px;
    }
  
    .u-section-2 .u-image-4 {
      width: 540px;
      height: 540px;
      margin-right: 0;
    }
  
    .u-section-2 .u-image-5 {
      margin-top: -510px;
    }
  
    .u-section-2 .u-list-2 {
      width: 540px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 196px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 196px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 196px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-9 {
      width: 540px;
      height: 459px;
    }
  
    .u-section-2 .u-image-10 {
      margin-top: -113px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 105px;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-2 .u-list-1 {
      width: 340px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 0;
    }
  
    .u-section-2 .u-image-4 {
      width: 340px;
      height: 340px;
    }
  
    .u-section-2 .u-image-5 {
      margin-top: -310px;
    }
  
    .u-section-2 .u-list-2 {
      width: 340px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 0;
    }
  
    .u-section-2 .u-icon-4 {
      margin-top: 20px;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 0;
    }
  
    .u-section-2 .u-icon-5 {
      margin-top: 20px;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 0;
    }
  
    .u-section-2 .u-icon-6 {
      margin-top: 20px;
    }
  
    .u-section-2 .u-image-9 {
      width: 340px;
      height: 289px;
    }
  
    .u-section-2 .u-image-10 {
      margin-top: 57px;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 1255px;
  }
  
  .u-section-3 .u-text-1 {
    font-family: Mulish;
    font-weight: 800;
    font-size: 6rem;
    margin: 10px auto 0 363px;
  }
  
  .u-section-3 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    margin-top: 174px;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(25% - 22.5px);
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 625px;
    grid-gap: 30px;
  }
  
  .u-section-3 .u-list-item-1 {
    box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
    --radius: 40px;
    border-color: rgb(255, 255, 255) !important;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 7px 10px 0;
  }
  
  .u-section-3 .u-btn-1 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 6px auto 0 1px;
  }
  
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin: 53px auto 0 19px;
  }
  
  .u-section-3 .u-text-3 {
    margin: 76px 28px 0 11px;
  }
  
  .u-section-3 .u-btn-2 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 95px auto 0;
  }
  
  .u-section-3 .u-list-item-2 {
    box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
    --radius: 30px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 7px 10px 0;
  }
  
  .u-section-3 .u-btn-3 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 6px auto 0 1px;
  }
  
  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
    margin: 53px auto 0 19px;
  }
  
  .u-section-3 .u-text-5 {
    margin: 76px 28px 0 11px;
  }
  
  .u-section-3 .u-btn-4 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 95px auto 0;
  }
  
  .u-section-3 .u-list-item-3 {
    box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
    --radius: 30px;
    border-color: rgb(255, 255, 255) !important;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 7px 10px 0;
  }
  
  .u-section-3 .u-btn-5 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 6px auto 0 1px;
  }
  
  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
    margin: 53px auto 0 19px;
  }
  
  .u-section-3 .u-text-7 {
    margin: 76px 28px 0 11px;
  }
  
  .u-section-3 .u-btn-6 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 95px auto 0;
  }
  
  .u-section-3 .u-list-item-4 {
    box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
    --radius: 30px;
    border-color: rgb(255, 255, 255) !important;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 7px 10px 0;
  }
  
  .u-section-3 .u-btn-7 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 6px auto 0 1px;
  }
  
  .u-section-3 .u-text-8 {
    font-size: 2.25rem;
    margin: 53px auto 0 19px;
  }
  
  .u-section-3 .u-text-9 {
    margin: 76px 28px 0 11px;
  }
  
  .u-section-3 .u-btn-8 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 95px auto 0;
  }
  
  .u-section-3 .u-rotation-parent-1 {
    animation-timing-function: ease;
    width: 990px;
    height: 990px;
    margin: -256px auto -393px -401px;
  }
  
  .u-section-3 .u-image-1 {
    width: 715px;
    height: 715px;
    transform: translateX(-50%) translateY(-50%) rotate(33.14deg);
    transform-origin: center center;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-text-1 {
      margin-left: 299px;
    }
  
    .u-section-3 .u-repeater-1 {
      min-height: 506px;
    }
  
    .u-section-3 .u-list-item-1 {
      background-position: 50% 50%;
    }
  
    .u-section-3 .u-btn-1 {
      margin-left: 0;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-3 .u-list-item-2 {
      background-position: 50% 50%;
    }
  
    .u-section-3 .u-btn-3 {
      margin-left: 0;
    }
  
    .u-section-3 .u-text-5 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-3 .u-list-item-3 {
      background-position: 50% 50%;
    }
  
    .u-section-3 .u-btn-5 {
      margin-left: 0;
    }
  
    .u-section-3 .u-text-7 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-3 .u-list-item-4 {
      background-position: 50% 50%;
    }
  
    .u-section-3 .u-btn-7 {
      margin-left: 0;
    }
  
    .u-section-3 .u-text-9 {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-text-1 {
      margin-left: 229px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-auto-columns: calc(50% - 15px);
      grid-template-columns: repeat(2, calc(50% - 15px));
      min-height: 1673px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 2026px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 4.5rem;
      margin-left: 172px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-auto-columns: calc(100% - 0px);
      grid-template-columns: 100%;
    }
  
    .u-section-3 .u-rotation-parent-1 {
      width: 540px;
      height: 540px;
      margin-left: 0;
    }
  
    .u-section-3 .u-image-1 {
      width: 390px;
      height: 390px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1986px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 3.75rem;
      margin-left: 108px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  
    .u-section-3 .u-text-2 {
      font-size: 1.875rem;
    }
  
    .u-section-3 .u-text-4 {
      font-size: 1.875rem;
    }
  
    .u-section-3 .u-text-6 {
      font-size: 1.875rem;
    }
  
    .u-section-3 .u-text-8 {
      font-size: 1.875rem;
    }
  
    .u-section-3 .u-rotation-parent-1 {
      width: 340px;
      height: 340px;
    }
  
    .u-section-3 .u-image-1 {
      width: 246px;
      height: 246px;
    }
  } .u-section-4 {
    background-image: url("images/Ellipse82.png");
    background-position: 50% 50%;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 1430px;
  }
  
  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
    background-image: none;
    font-weight: 600;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    text-transform: none;
    margin: 117px 143px 0 176px;
  }
  
  .u-section-4 .u-accordion-1 {
    width: 888px;
    margin: 84px auto 0;
  }
  
  .u-section-4 .u-accordion-link-1 {
    background-image: none;
    font-weight: 700;
    font-family: Mulish;
    font-size: 1.875rem;
    color: rgb(0, 0, 0) !important;
    padding: 25px 30px;
  }
  
  .u-section-4 .u-icon-1 {
    height: 33px;
    width: 33px;
  }
  
  .u-section-4 .u-accordion-pane-1 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 20px 30px;
  }
  
  .u-section-4 .u-accordion-link-2 {
    background-image: none;
    font-weight: 700;
    font-family: Mulish;
    font-size: 1.875rem;
    color: rgb(0, 0, 0) !important;
    padding: 25px 30px;
  }
  
  .u-section-4 .u-icon-2 {
    height: 33px;
    width: 33px;
  }
  
  .u-section-4 .u-accordion-pane-2 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 20px 30px;
  }
  
  .u-section-4 .u-accordion-link-3 {
    background-image: none;
    font-weight: 700;
    font-family: Mulish;
    font-size: 1.875rem;
    color: rgb(0, 0, 0) !important;
    padding: 25px 30px;
  }
  
  .u-section-4 .u-icon-3 {
    height: 33px;
    width: 33px;
  }
  
  .u-section-4 .u-accordion-pane-3 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 20px 30px;
  }
  
  .u-section-4 .u-accordion-item-4 {
    font-family: Mulish;
    margin: 30px -13px 60px auto;
  }
  
  .u-section-4 .u-accordion-link-4 {
    background-image: none;
    font-weight: 700;
    font-family: Mulish;
    font-size: 1.875rem;
    color: rgb(0, 0, 0) !important;
    padding: 25px 30px;
  }
  
  .u-section-4 .u-icon-4 {
    height: 33px;
    width: 33px;
  }
  
  .u-section-4 .u-accordion-pane-4 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-4 .u-container-layout-4 {
    padding: 20px 30px;
  }
  
  .u-section-4 .u-accordion-link-5 {
    background-image: none;
    font-weight: 700;
    font-family: Mulish;
    font-size: 1.875rem;
    color: rgb(0, 0, 0) !important;
    padding: 25px 30px;
  }
  
  .u-section-4 .u-icon-5 {
    height: 33px;
    width: 33px;
  }
  
  .u-section-4 .u-accordion-pane-5 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-4 .u-container-layout-5 {
    padding: 20px 30px;
  }
  
  .u-section-4 .u-accordion-link-6 {
    background-image: none;
    font-weight: 700;
    font-family: Mulish;
    font-size: 1.875rem;
    color: rgb(0, 0, 0) !important;
    padding: 25px 30px;
  }
  
  .u-section-4 .u-icon-6 {
    height: 33px;
    width: 33px;
  }
  
  .u-section-4 .u-accordion-pane-6 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-4 .u-container-layout-6 {
    padding: 20px 30px;
  }
  
  .u-section-4 .u-image-1 {
    width: 1264px;
    height: 1264px;
    margin: -1933px -637px 60px auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 1179px;
    }
  
    .u-section-4 .u-text-1 {
      margin-right: 43px;
      margin-left: 76px;
    }
  
    .u-section-4 .u-accordion-link-1 {
      --radius: 34px;
    }
  
    .u-section-4 .u-accordion-link-2 {
      --radius: 34px;
    }
  
    .u-section-4 .u-accordion-link-3 {
      --radius: 34px;
    }
  
    .u-section-4 .u-accordion-item-4 {
      margin-right: 0;
    }
  
    .u-section-4 .u-accordion-link-4 {
      --radius: 34px;
    }
  
    .u-section-4 .u-accordion-link-5 {
      --radius: 34px;
    }
  
    .u-section-4 .u-accordion-link-6 {
      --radius: 34px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 903px;
    }
  
    .u-section-4 .u-text-1 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-4 .u-accordion-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 677px;
    }
  
    .u-section-4 .u-text-1 {
      font-size: 2.578125rem;
    }
  
    .u-section-4 .u-accordion-1 {
      width: 540px;
    }
  
    .u-section-4 .u-accordion-link-1 {
      font-size: 1.6666666666666665rem;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-accordion-link-2 {
      font-size: 1.6666666666666665rem;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-accordion-link-3 {
      font-size: 1.6666666666666665rem;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-accordion-link-4 {
      font-size: 1.6666666666666665rem;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-accordion-link-5 {
      font-size: 1.6666666666666665rem;
    }
  
    .u-section-4 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-accordion-link-6 {
      font-size: 1.6666666666666665rem;
    }
  
    .u-section-4 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-image-1 {
      width: 540px;
      height: 540px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 226px;
    }
  
    .u-section-4 .u-text-1 {
      font-size: 2.1484375rem;
    }
  
    .u-section-4 .u-accordion-1 {
      width: 340px;
    }
  
    .u-section-4 .u-image-1 {
      width: 340px;
      height: 340px;
    }
  } .u-section-5 {
    min-height: 720px;
  }
  
  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2)  + 520px);
    margin: 75px 0 0 auto;
  }
  
  .u-section-5 .u-layout-cell-1 {
    min-height: 596px;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-5 .u-text-1 {
    background-image: none;
    font-size: 3.125rem;
    font-weight: 600;
    margin: 78px 129px 0 141px;
  }
  
  .u-section-5 .u-form-1 {
    height: 321px;
    width: 447px;
    margin: 37px auto 0;
  }
  
  .u-section-5 .u-label-1 {
    font-size: 1.25rem;
    font-family: Mulish;
    font-weight: 500;
  }
  
  .u-section-5 .u-input-1 {
    height: 55px;
    background-image: none;
    font-size: 1.125rem;
    font-family: Mulish;
  }
  
  .u-section-5 .u-label-2 {
    font-size: 1.25rem;
    font-family: Mulish;
    font-weight: 500;
  }
  
  .u-section-5 .u-input-2 {
    height: 55px;
    background-image: none;
    font-size: 1.125rem;
    font-family: Mulish;
  }
  
  .u-section-5 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    width: 100%;
    padding: 14px 0 15px;
  }
  
  .u-section-5 .u-image-1 {
    width: 1264px;
    height: 1264px;
    margin: -1293px auto 0 calc(((100% - 1140px) / 2)  + -607px);
  }
  
  .u-section-5 .u-image-2 {
    width: 823px;
    height: 823px;
    margin: -693px auto 0 calc(((100% - 1140px) / 2)  + -240px);
  }
  
  .u-section-5 .u-rotation-parent-1 {
    animation-timing-function: ease;
    width: 840px;
    height: 840px;
    margin: -1281px -233px 60px auto;
  }
  
  .u-section-5 .u-image-3 {
    width: 619px;
    height: 619px;
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%) rotate(298.85deg);
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-layout-wrap-1 {
      width: calc(((100% - 940px) / 2) + 520px);
    }
  
    .u-section-5 .u-image-1 {
      margin-left: calc(((100% - 940px) / 2) + -607px);
    }
  
    .u-section-5 .u-image-2 {
      margin-left: calc(((100% - 940px) / 2) + -240px);
    }
  
    .u-section-5 .u-image-3 {
      width: 618px;
      height: 618px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-5 {
      min-height: 224px;
    }
  
    .u-section-5 .u-layout-wrap-1 {
      width: calc(((100% - 720px) / 2) + 520px);
    }
  
    .u-section-5 .u-layout-cell-1 {
      min-height: 489px;
    }
  
    .u-section-5 .u-image-1 {
      margin-left: calc(((100% - 720px) / 2) + -607px);
    }
  
    .u-section-5 .u-image-2 {
      margin-left: calc(((100% - 720px) / 2) + -240px);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-layout-wrap-1 {
      width: calc(((100% - 540px) / 2) + 520px);
    }
  
    .u-section-5 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-5 .u-text-1 {
      font-size: 2.34375rem;
    }
  
    .u-section-5 .u-image-1 {
      width: 540px;
      height: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-5 .u-image-2 {
      width: 540px;
      height: 540px;
      margin-top: 31px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-5 .u-rotation-parent-1 {
      width: 540px;
      height: 540px;
      margin-top: -998px;
      margin-right: 0;
    }
  
    .u-section-5 .u-image-3 {
      width: 397px;
      height: 397px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-layout-wrap-1 {
      width: calc(((100% - 340px) / 2) + 340px);
    }
  
    .u-section-5 .u-text-1 {
      font-size: 1.953125rem;
      margin-right: 39px;
      margin-left: 51px;
    }
  
    .u-section-5 .u-form-1 {
      width: 340px;
    }
  
    .u-section-5 .u-image-1 {
      width: 340px;
      height: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-5 .u-image-2 {
      width: 340px;
      height: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-5 .u-rotation-parent-1 {
      width: 340px;
      height: 340px;
      margin-top: -798px;
    }
  
    .u-section-5 .u-image-3 {
      width: 250px;
      height: 250px;
    }
  } .u-section-6 {
    color: rgb(59, 89, 152) !important;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 159px;
  }
  
  .u-section-6 .u-btn-1 {
    background-image: none;
    font-size: 1.5rem;
    margin: 57px auto 0 23px;
    padding: 0;
  }
  
  .u-section-6 .u-social-icons-1 {
    height: 47px;
    min-height: 16px;
    width: 161px;
    min-width: 68px;
    margin: -31px 23px 0 auto;
  }
  
  .u-section-6 .u-icon-1 {
    height: 100%;
  }
  
  .u-section-6 .u-icon-2 {
    height: 100%;
  }
  
  .u-section-6 .u-icon-3 {
    height: 100%;
  }
  
  .u-section-6 .u-btn-2 {
    background-image: none;
    font-size: 1.5rem;
    margin: -61px 346px 46px auto;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 .u-btn-1 {
      margin-left: 0;
    }
  
    .u-section-6 .u-btn-2 {
      margin-top: 20px;
      margin-right: 146px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-btn-2 {
      margin-right: 0;
    }
  }@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .rotating-image {
    animation: rotate 2s linear infinite;
  }
